*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: content-box;
}
.head{
    background-color: red;
    text-align: center;
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.head h1{
    filter: drop-shadow(10px -4px 3px white);
    font-size:2.5em;
}
.sticky{
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}
nav .compte{
    position: absolute;
    right: 50px;
    bottom: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    margin-left: 100px;
    font-size: 1.4em;
    font-weight: bolder;
    display: inline-block;
    line-height: 2em;
    width: 100px;
    text-align: center;
}
nav a.active{
    background-color: red;
    border-radius: 15px;
}
nav a:hover{
    background-color: red;
    color: black;
    border-radius: 15px;
}
nav a:active{
    color: black;
    background-color: rgb(214, 58, 0);
    border-radius: 25px;
}
nav .compte a{
    margin-left: 70px;
}
.head img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20px;
}
.container{
    height: 750px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenu{
    position: absolute;
    left: 45%;
    top: 60%;
}
.contenu a{
    text-decoration: none;
}
#btn{
    display: block;
    width: 200px;
    height: 60px;
    line-height: 40px;
    font-size: 18px;
    transform: skew(-20deg);
    color: black;
    border: 3px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 35s;
}
#btn span{
    position: relative;
    z-index: 2;
    font-size: 1.2em;
}
#btn span:hover{
    color: white;
}
#btn:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
  }
#btn:hover:after{
    width: 100%;
}
.locttable h1{
    color: #ff003b;
    margin: 0px 50px 50px 150px;
    padding-top: 100px;
}
.locttable table{

    border: 7px solid #ff003b;
    background-color: #ff003b;
    display: flex;
    justify-content: center;
}
.locttable tr{
    line-height: 3em;
    
}
.locttable td{
   border:7px solid #ff003b;
}
.locttable td input{
    width: 300px;
    height: 60px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
}